.app {
  font-family: Arial, sans-serif;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.grid-container {
  display: flex;
  flex-direction: column;
justify-self: center;}

.grid-header-row {
  display: flex;
}

.grid-row {
  display: flex;
}

.grid-header-cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.grid>.grid-row {
  display: flex;
}

.zone {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}